* {
    background-color: lightcyan;
}

div {
    background-color: lightgoldenrodyellow;
}

.cl1 {
    background-color: lightcoral;
}

.cl2 {
    background-color: lightseagreen;
}

#id1 {
    background-color: lightblue;
}